* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* NAV */

nav {
    background-color: #3e3634; 
    padding: 10px 20px; 
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.navbar-logo {
    height: 50px; 
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #ffb703;
}

header {
    background: url('../img/Firefly\ 20240511210524.png') no-repeat bottom center/cover; 
    color: white;
    padding: 100px 20px; 
    text-align: center;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.content-block {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.event-day {
    background-color: #CCC;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .content-container, .events-container {
        grid-template-columns: 1fr;
    }
}
