* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    position: relative; /* Ensures positioning is relative to the viewport */
}

/* NAV */

nav {
    background-color: #dcc3a9; 
    padding: 10px 20px; 
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    position: sticky;
    top: 0;
    filter: drop-shadow(3px 3px 3px #00000033);
    z-index: 100;
}

.navbar-logo {
    height: 50px;
    margin-right: 10px;
}

nav a {
    color: #820000;
    text-decoration: none;
    margin: 0 5px; 
    font-size: 20px;
}

nav a:hover {
    color: #0c8401;
}

.cart-link {
    display: inline-block;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cart-link:hover {
    background-color: #0c8401;
    border-radius: 20px; 
}

.cart-link img {
    width: 40px; 
    height: auto;
    position: absolute;
    left: 50px;
    top: 50px; 
}
