* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

header {
    background-color: #FFC0CB; 
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #3e3634; 
    padding: 10px 20px; 
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.navbar-logo {
    height: 50px; 
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #ffb703;
}

.day-selector button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.day-selector button.active {
    font-weight: bold;
    background-color: #FF919D; 
}

.event-details {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    text-align: center;
}

.day-details {
    margin-top: 20px;
}

.day-navigation .day-block {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 10px;
    background-color: #ccc;
    cursor: pointer;
}

.ticket-button {
    margin-top: 20px;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

@media (max-width: 768px) {
    .event-details, .ticket-button {
        width: 95%;
    }
}
