* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

nav {
    background-color: #3e3634; 
    padding: 10px 20px; 
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.navbar-logo {
    height: 50px; 
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #ffb703;
}

header {
    background-color: #00A1D9;
    padding: 20px 0;
}

.day-selector {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.day-selector button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
}

.day-selector button.active {
    font-weight: bold;
}

.event-details {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.ticket-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .day-selector button {
        padding: 5px 10px;
    }
}
