* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* NAV */

nav {
    background-color: #dcc3a9;
    padding: 10px 20px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    filter: drop-shadow(3px 3px 3px #00000033);
    z-index: 100;
}

.navbar-logo {
    height: 50px;
    margin-right: 10px;
}

nav a {
    color: #820000;
    text-decoration: none;
    margin: 0 5px;
    font-size: 20px;
}

nav a:hover {
    color: #0c8401;
}

.cart-link {
    display: inline-block;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cart-link:hover {
    background-color: #0c8401;
    border-radius: 20px;
}

.cart-link img {
    width: 40px;
    height: auto;
}

/* MERCH SECTION */

.merch-section {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.merch-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.merch-item img {
    width: 100%;
    height: auto;
}

.merch-price {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #666;
}

/* FOOTER */

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.footer-text {
    font-size: 16px;
    color: #333;
}

.footer-divider {
    margin: 20px 0;
}

.footer-heading {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.footer-links {
    margin: 10px 0;
}

.footer-link {
    margin: 0 10px;
}

.footer-icon {
    width: 30px;
    height: 30px;
}

.footer-sponsor-icon {
    width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    .merch-grid {
        grid-template-columns: 1fr;
    }
}