* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #3e3634; 
    padding: 10px 20px; 
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.navbar-logo {
    height: 50px; 
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    color: #ffb703;
}

.categories {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item img {
    width: 100%;  /* Ensures images resize within their containers */
    height: auto;
}

.button-container {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
